---
import Image from "astro/components/Image.astro";
import page1 from "../assets/1.png";
import page2 from "../assets/2.png";
import page3 from "../assets/3.png";
import page4 from "../assets/4.png";
import page5 from "../assets/5.png";
import page6 from "../assets/6.png";
import page7 from "../assets/7.png";
import page8 from "../assets/8.png";
import page9 from "../assets/9.png";
import page10 from "../assets/10.png";
import page11 from "../assets/11.png";
import page12 from "../assets/12.png";
import page13 from "../assets/13.png";

---
<style>
  .container {
    animation: fade 2s ease-in-out;
  }

  .fade-element {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }

  .fade-element.is-hidden {
    opacity: 0;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          // If the element is fully out of the viewport
          if (!entry.isIntersecting) {
            entry.target.classList.add("is-hidden");
          } else {
            // Optional: Fade back in when it scrolls back onto the screen
            entry.target.classList.remove("is-hidden");
          }
        });
      },
      {
        threshold: 0.1, // Triggers the moment the entire element is off-screen
      },
    );

    // Target all elements with the class
    const elements = document.querySelectorAll(".fade-element");
    elements.forEach((el) => observer.observe(el));
  });
</script>

<div class="w-4/5 mx-auto my-auto flex flex-col justify-between">
  <img
    src={page1.src}
    alt="First page"
    class="fade-element"
  />
  <img
    src={page2.src}
    alt="Second page"
    class="fade-element"
  />
  <img
    src={page3.src}
    alt="Third page"
    class="fade-element"
  />
  <img
    src={page4.src}
    alt="Fourth page"
    class="fade-element"
  />
  <img
    src={page5.src}
    alt="Fifth page"
    class="fade-element"
  />
  <img
    src={page6.src} 
    alt="Sixth page"
    class="fade-element"
  />
  <img
    src={page7.src}
    alt="Seventh page"
    class="fade-element"
  />
  <img
    src={page8.src}
    alt="Eighth page"
    class="fade-element"
  />
  <img
    src={page9.src}
    alt="Ninth page"
    class="fade-element"
  />
  <img
    src={page10.src}
    alt="Tenth page"
    class="fade-element"
  />
  <img
    src={page11.src}
    alt="Eleventh page"
    class="fade-element"
  />
  <img
    src={page12.src}
    alt="Twelfth page"
    class="fade-element"
  />
  <img
    src={page13.src}
    alt="Thirteenth page"
    class="fade-element"
  />
</div>


